Ideas:

Parameter: year
scatter plot: x = month, y = temp

base period: 1951-1980

Divide by 100 to get changes in degrees Celsius (deg-C).

Multiply that result by 1.8(=9/5) to get changes in degrees Fahrenheit (deg-F).

Example      --      Table Value :      40
                          change :    0.40 deg-C  or  0.72 deg-F

In [48]:
import pandas as pd

In [49]:
global_temps_df = pd.read_csv("GLB.Ts+dSST_adj.csv")
global_temps_df.head(5)

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.19,-0.24,-0.09,-0.16,-0.10,-0.21,-.18,-.10,-.14,-.23,-.21,-.18,-.17,***,***,-0.12,-.16,-.19
1,1881,-0.20,-0.14,0.03,0.05,0.06,-0.19,.00,-.04,-.16,-.22,-.18,-.07,-.09,-.10,-.17,0.05,-.08,-.19
2,1882,0.16,0.13,0.04,-0.17,-0.14,-0.23,-.17,-.07,-.14,-.24,-.17,-.36,-.11,-.09,.07,-0.09,-.16,-.18
3,1883,-0.29,-0.37,-0.12,-0.18,-0.17,-0.08,-.07,-.14,-.21,-.11,-.23,-.11,-.18,-.20,-.34,-0.16,-.10,-.19
4,1884,-0.13,-0.08,-0.36,-0.40,-0.34,-0.35,-.31,-.28,-.27,-.25,-.34,-.31,-.29,-.27,-.11,-0.37,-.32,-.29

In [50]:
global_temps_df.columns

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'J-D', 'D-N', 'DJF', 'MAM', 'JJA', 'SON'],
      dtype='object')

In [51]:
global_temps_df['Year'].unique()
centTemps_df = global_temps_df[(global_temps_df['Year'] >= 1924) & (global_temps_df['Year'] <= 2023)]
centTemps_df = centTemps_df[['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec']]
centTemps_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
44,1924,-0.22,-0.23,-0.08,-0.30,-0.18,-0.26,-.29,-.36,-.32,-.35,-.20,-.43
45,1925,-0.37,-0.39,-0.27,-0.25,-0.29,-0.33,-.27,-.21,-.19,-.17,.05,.06
46,1926,0.21,0.03,0.11,-0.13,-0.23,-0.26,-.27,-.13,-.14,-.11,-.06,-.29
47,1927,-0.27,-0.17,-0.39,-0.30,-0.26,-0.27,-.19,-.24,-.12,-.01,-.05,-.33
48,1928,-0.02,-0.09,-0.25,-0.28,-0.30,-0.39,-.19,-.22,-.21,-.19,-.09,-.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2019,0.93,0.95,1.17,1.01,0.85,0.90,.94,.95,.92,1.00,.99,1.09
140,2020,1.17,1.24,1.17,1.12,1.01,0.91,.89,.87,.98,.88,1.10,.80
141,2021,0.81,0.64,0.89,0.76,0.79,0.84,.92,.82,.92,.99,.93,.86
142,2022,0.91,0.89,1.05,0.84,0.84,0.92,.94,.95,.89,.96,.73,.80
143,2023,0.88,0.98,1.22,1.00,0.94,1.08,1.19,1.19,1.48,1.34,1.43,1.35

In [52]:
centTemps_df.to_csv('globalTempsData.csv', index=False)