Ideas:

Parameter: year
scatter plot: x = month, y = temp

base period: 1951-1980

Divide by 100 to get changes in degrees Celsius (deg-C).

Multiply that result by 1.8(=9/5) to get changes in degrees Fahrenheit (deg-F).

Example      --      Table Value :      40
                          change :    0.40 deg-C  or  0.72 deg-F

In [185]:
import pandas as pd

In [186]:
global_temps_df = pd.read_csv("GLB.Ts+dSST_adj.csv")
global_temps_df.head(5)

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.19,-0.24,-0.09,-0.16,-0.10,-0.21,-.18,-.10,-.14,-.23,-.21,-.18,-.17,***,***,-0.12,-.16,-.19
1,1881,-0.20,-0.14,0.03,0.05,0.06,-0.19,.00,-.04,-.16,-.22,-.18,-.07,-.09,-.10,-.17,0.05,-.08,-.19
2,1882,0.16,0.13,0.04,-0.17,-0.14,-0.23,-.17,-.07,-.14,-.24,-.17,-.36,-.11,-.09,.07,-0.09,-.16,-.18
3,1883,-0.29,-0.37,-0.12,-0.18,-0.17,-0.08,-.07,-.14,-.21,-.11,-.23,-.11,-.18,-.20,-.34,-0.16,-.10,-.19
4,1884,-0.13,-0.08,-0.36,-0.40,-0.34,-0.35,-.31,-.28,-.27,-.25,-.34,-.31,-.29,-.27,-.11,-0.37,-.32,-.29

In [187]:
global_temps_df.columns

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'J-D', 'D-N', 'DJF', 'MAM', 'JJA', 'SON'],
      dtype='object')

In [188]:
global_temps_df['Year'].unique()
centTemps_df = global_temps_df[(global_temps_df['Year'] >= 1924) & (global_temps_df['Year'] <= 2023)]
centTemps_df = centTemps_df[['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec']]

In [189]:
centTemps_df.dtypes

Year      int64
Jan     float64
Feb     float64
Mar     float64
Apr     float64
May     float64
Jun     float64
Jul      object
Aug      object
Sep      object
Oct      object
Nov      object
Dec      object
dtype: object

In [190]:
# centTemps_df.loc[:, centTemps_df.columns != 'Year'] *= 0.018 # 0.01 * 1.8
# centTemps_df
# centTemps_df.dtypes
# centTemps_df.loc[:, centTemps_df.columns != 'Year'].astype('float64').dtypes
centTemps_df = centTemps_df.astype('float64')
centTemps_df = centTemps_df.astype({'Year': 'int64'})

In [191]:
centTemps_df.dtypes

Year      int64
Jan     float64
Feb     float64
Mar     float64
Apr     float64
May     float64
Jun     float64
Jul     float64
Aug     float64
Sep     float64
Oct     float64
Nov     float64
Dec     float64
dtype: object

In [192]:
centTemps_df.loc[:, centTemps_df.columns != 'Year'] *= 0.01 * 1.8
centTemps_df.head(3)

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
44,1924,-0.00396,-0.00414,-0.00144,-0.00540,-0.00324,-0.00468,-0.00522,-0.00648,-0.00576,-0.00630,-0.00360,-0.00774
45,1925,-0.00666,-0.00702,-0.00486,-0.00450,-0.00522,-0.00594,-0.00486,-0.00378,-0.00342,-0.00306,0.00090,0.00108
46,1926,0.00378,0.00054,0.00198,-0.00234,-0.00414,-0.00468,-0.00486,-0.00234,-0.00252,-0.00198,-0.00108,-0.00522

In [193]:
minMax = pd.DataFrame({"max": centTemps_df.max(), "min": centTemps_df.min()})
minMax["max"].nlargest(2), minMax["min"].nsmallest(1) # range: 0.02664, -0.01044

(Year    2023.00000
 Sep        0.02664
 Name: max, dtype: float64,
 Feb   -0.01044
 Name: min, dtype: float64)

In [194]:
centTemps_df.to_csv('globalTempsData.csv', index=False)